<div style="margin-top: 30px; margin-left: 20px">
  <H1>Búsqueda de candidatos</H1>
  <table>
    <tr>
      <td>
        <!-- SELECT FAMILIASPROFESIONALES -->
        <mat-form-field style="color: aliceblue;" class="example-full-width">
          <mat-label style="color: aliceblue;">Familia profesional</mat-label>
          <mat-select style="color: aliceblue;" (selectionChange)="changeselectedFamilia($event.value)">
            <mat-option style="color: aliceblue;background-color: black;" *ngFor="let f of listaFamilias" [value]="f">
              {{ f.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <!-- SELECT TIPOCICLOS -->

        <mat-form-field class="example-full-width">
          <mat-label style="color: aliceblue;margin-left: 20px;">Tipo de ciclo</mat-label>
          <mat-select style="color: aliceblue;background-color: black;" (selectionChange)="changeselectedTipo($event.value)">
            <mat-option style="color: aliceblue;background-color: black;" *ngFor="let t of listaTipos" [value]="t">
              {{ t.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <!-- SELECT CICLOS -->

        <mat-form-field class="example-full-width">
          <mat-label style="color: aliceblue;margin-left: 20px;">Ciclo</mat-label>
          <mat-select style="color: aliceblue;background-color: black;"
            (click)="cargarCiclos()"
            (selectionChange)="changeselectedCiclo($event.value)"
          >
            <mat-option style="color: aliceblue;background-color: black;" *ngFor="let c of listaCiclos" [value]="c">
              {{ c.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="color: aliceblue;background-color: black;" class="example-full-width">
          <mat-label style="color: aliceblue;background-color: black;">Provincia</mat-label>
          <mat-select style="color: aliceblue;background-color: black;" (selectionChange)="changeselectedProvincia($event.value)">
            <mat-option style="color: aliceblue;background-color: black;" *ngFor="let p of listaProv" [value]="p">
              {{ p.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <!-- ESPACIADOR DEL BOTON -->
      <td style="width: 10%"></td>

      <!-- BOTON DE BUSQUEDA -->
      <td>
        <div class="example-button-row">
          <div class="example-flex-container">
            <button
              style="background-color: rgb(231, 210, 16); color: black"
              mat-raised-button
              aria-label="modificar posicion"
              (click)="busquedaDeAlumnos()"
            >
              Buscar
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- TERMINA LA PARTE DE BUSQUEDA, COMIENZA LA DE RESULTADOS -->
<h1 style="font-size: 35px; margin-top: 30px; margin-left: 20px">
  Lista de candidatos
</h1>
<mat-divider></mat-divider>

<!-- LISTA ALUMNOS -->
<mat-grid-list cols="3" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile *ngFor="let a of alumnosBusqueda" style="width: min-content;">
    <mat-card
      class="card m-3"
      style="background-color: black; min-height: 200px; width: 350px"
    >
      <section style="width: 100%; text-align: right">
        <div class="example-button-row">
          <div class="example-flex-container">
            <button
            (click)="openModalContactoPremium(a)"
              style="background-color: yellow; color: black"
              mat-raised-button
              aria-label="contactar alumno"
            >
              Mensaje
            </button>
          </div>
        </div>
      </section>
      <mat-card-title style="color: rgb(231, 210, 16)"
        >{{ a.provincia!.nombre }}
      </mat-card-title>
      <mat-card-content>
        <div>
          <table>
            <tr>
              <td style="color: aliceblue; word-break: break-all">
                {{ a.ciclo!.nombre }}
              </td>
            </tr>
          </table>
          <hr style="background-color: rgb(231, 210, 16)" />
        </div>
        <table style="width: 100%">
          <tr>
            <th style="color: aliceblue">Nota media:</th>
          </tr>
          <tr>
            <td style="color: aliceblue" type="date">
              {{ a.notaMedia }}
            </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td></td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
