<div class="register">
  <form  [formGroup]="registerForm" class="custom-form">
    <h1>Register</h1>
    <input
      type="email"
      [(ngModel)]="empresa.email"
      formControlName="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="empresa.password"
      formControlName="password"
      placeholder="Contraseña"
      required="required"
    />
    <input
      type="text"
      [(ngModel)]="empresa.nombre"
      formControlName="nombre"
      placeholder="Nombre"
      required="required"
    />
    <label for="provincias">Selecciona una provincia: </label>

    <mat-form-field class="example-full-width">
      <mat-label>Provincia</mat-label>
      <mat-select
      (selectionChange)="changeselected($event.value)"
      >
        <mat-option
          *ngFor="let p of listaProv"
          [value]="p"
        >
          {{ p.nombre }}
        </mat-option>
      </mat-select>

    </mat-form-field>


    <input
      type="text"
      [(ngModel)]="empresa.localidad"
      name="localidad"
      placeholder="Localidad"
      required="required"
    />
    <input
      type="text"
      [(ngModel)]="empresa.direccion"
      name="direccion"
      placeholder="Dirección"
      required="required"
    />

    <button [disabled]="registerForm.invalid" type="submit" (click)="register()">Register</button>
    <br>
    <span *ngIf="error"><mat-error>error en el registro</mat-error></span>
    <a routerLink="/login" class="btn btn-link">Atras</a>
  </form>
</div>
