<button
  mat-button
  class="btn btn-primary"
  role="button"
  data-toggle="modal"
  data-bss-tooltip=""
  style="background: rgb(231, 210, 16); margin: 40px"
  id="CreatePos"
  (click)="openModal()"
  title="Crear Posicion"
  data-target="#crearPosicionModal"
>
  Crear Posición
</button>

<div class="row">
  <div class="col-12">
    <mat-grid-list cols="3" rowHeight="800px">
      <mat-grid-tile colspan="1" rowspan="1" *ngFor="let pos of listapos">
        <mat-card
          class="card m-3"
          style="background-color: black; min-height: 550px; width: 500px;"
        >
        <!-- <a><mat-icon style="color: aliceblue;margin-right: 0%;width: 100%;text-align: end;">update</mat-icon>	<mat-icon style="color: aliceblue;margin-right: 0%;width: 100%;text-align: end;">delete_forever</mat-icon></a> -->
<section style="width: 100%; text-align: right;">
  <div class="example-button-row">
    <div class="example-flex-container">
      <button (click)="openModal()" mat-icon-button color="accent" aria-label="modificar posicion">
        <mat-icon>update</mat-icon>
      </button>
      <button (click)="borrarPosicion(pos.id!.toString())" mat-icon-button color="warn" aria-label="borrar posicion">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</section>
        <mat-card-title style="color: rgb(231, 210, 16);">{{ pos.nombre }} </mat-card-title>
          <mat-card-content>
            <div>
              <table>
                <tr>
                  <th style="color: aliceblue">Descripcion</th>
                </tr>
                <tr>
                  <td style="color: aliceblue; word-break: break-all">
                    {{ pos.descripcion }}
                  </td>
                </tr>
              </table>
              <hr style="background-color: rgb(231, 210, 16)" />
            </div>
            <table style="width: 100%">
              <tr>
                <th style="color: aliceblue">Fecha de inicio:</th>
                <th style="color: aliceblue">Fecha de fin:</th>
              </tr>
              <tr>
                <td style="color: aliceblue" type="date">
                  {{dateFormat(pos.fechaInicio.toString()) }}
                </td>
                <td style="color: aliceblue" type="date">{{dateFormat( pos.fechaFin.toString()) }}</td>
              </tr>
              <tr>
                <th style="color: aliceblue">Horario:</th>
                <th style="color: aliceblue">Remuneracion:</th>
              </tr>
              <tr>
                <td style="color: aliceblue">{{ pos.horario }}</td>
                <td style="color: aliceblue">{{ pos.remuneracion }}€</td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
            <h4 style="color: aliceblue;font-weight: bold;">Ciclos:</h4>
            <div class="scrollmenu">
              <mat-chip *ngFor="let c of pos.ciclos" style="background-color: rgb(231, 210, 16); color: black; font-weight: bold;margin: 5px;border-radius: 15px;padding-inline: 5px;">

                {{c.nombre}}
              </mat-chip>

            </div>
            <h4 style="color: aliceblue; font-weight: bold">
              Alumnos Inscritos
            </h4>
            <div class="scrollmenu">
              <mat-card
              style="min-width: 400px"
              class="card m-2"
              *ngFor="let a of pos.listaInscritos"
              >
              <mat-card-title>
                {{ a.alumno!.nombre }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ a.alumno!.apellidos }}
              </mat-card-subtitle>
              <mat-card-content>
                  <table>
                    <tr>
                      <td style="font-weight: bold">Provincia:</td>
                      <td>{{ a.alumno!.provincia!.nombre }}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold">Ciclo:</td>
                      <td>{{ a.alumno!.ciclo!.nombre }}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold">Nacimiento:</td>
                      <td>{{dateFormat(a.alumno!.fechaDeNacimiento.toString()) }}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold">Nota media:</td>
                      <td>{{ a.alumno!.notaMedia }}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold">
                        Estado de la inscripción:
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <mat-label>Pendiente</mat-label>
                          <mat-select
                            [value]="a.estadoInscripcion"
                            (selectionChange)="changeselected($event.value, a)"
                          >
                            <mat-option value="Seleccionado">
                              Seleccionado
                            </mat-option>
                            <mat-option value="No seleccionado">
                              No Seleccionado
                            </mat-option>
                            <mat-option value="Pendiente">
                              Pendiente
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr><button (click)="openModalContacto(pos,a.alumno)" mat-button style="background-color:rgb(231, 210, 16);border-radius: 20;border-color: black;">Contactar</button></tr>
                  </table>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
